/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: 'Poppins', sans-serif;
    color: #333;
    line-height: 1.6;
}

/* Navbar */
.navbar {
    background-color: #f0a500;
    padding: 1rem;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    font-family: "Afacad Flux", sans-serif;
    color: #000;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
}

.navbar .nav-links {
    list-style: none;
    display: flex;
}

.navbar .nav-links li {
    margin-left: 20px;
}

.navbar .nav-links li a {
    font-weight: 500;
    color: #000;
    position: relative;
    text-decoration: none;
    font-size: 1rem;
    padding-bottom: 2px;
}

.navbar .nav-links li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #fdfdfd;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: width 0.3s ease;
}

.navbar .nav-links li a:hover::after {
    width: 100%;
}

/* Container */
.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
}

/* Hero Section */
.hero {
    height: 100vh;
    background-color: #f0a500;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85%;
}

.hero-title {
    font-weight: bold;
    font-size: 4rem;
    margin-bottom: 1rem;
}

.hero-subtitle {
    font-weight: 500;
    font-size: 2.5rem;
    margin-bottom: 3rem;
}

/* Button */
.btn {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1.25rem;
    display: inline-block;
    padding: 15px 30px;
    background-color: #000;
    color: #f0a500;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s;
}

.btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.btn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.btn:hover span {
    padding-right: 25px;
}

.btn:hover span:after {
    opacity: 1;
    right: 0;
}
